
button, .button {
	// configs
	$brand-color: #EE6C90;
	$brand-text-color: #FFFFFF;
	$round: 8px;
	--padding: 20px;
	--padding-ratio-v: 2;
	--padding-ratio-h: 1;

	&--big {
		--padding: 30px;
	}

	&--slim {
		--padding-ratio-v: 3;
		--padding-ratio-h: 1;
	}

	& {
		font-family: inherit;
		background-color: $brand-color;
		border: none;
		outline: none;
		border-radius: $round;
		padding:
			calc(var(--padding) / var(--padding-ratio-v))
			calc(var(--padding) / var(--padding-ratio-h));
		color: $brand-text-color;
		font-size: 18px;
		transition: .2s;
		cursor: pointer;
	}

	&:hover {
		background-color: darken($brand-color, 5%);
		box-shadow: 0 0 12px 0 transparentize(darken($brand-color, 10%), .25);
	}
}

.button_link {
	& {
		display: inline-block;
	}

	& > button {
		width: inherit;
		height: inherit;
	}
}
