@import 'fonts/GoogleSans/stylesheet.css';
@import 'fonts/VKSans/stylesheet.css';

body {
	background: #FFFFFF;
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-bottom: 3em;;
}

a {
	text-decoration: none;
	font-family: 'Google Sans', sans-serif;
	font-weight: lighter;
}

div {
	box-sizing: border-box;
}

.header {
	width: 100%;
}

.header img {
	position: absolute;
	top: 4.4em;
	left: 4%;
}

.header_auth {
	background-color: #EE6C90;
	color: white;
	padding: 10px 30px 13px 30px;
	border-radius: 8px;
	position: absolute;
	top: 5em;
	right: 3%;
	font-size: 18px;
	transition-duration: 300ms;
	cursor: pointer;
}

.header_auth:hover {
	transition-duration: 300ms;
	box-shadow: 0 0 10px rgba(238, 108, 144, 0.5);
}

.header_user {
	width: auto;
	height: auto;
	padding: 14px 0 14px 25px;
	font-size: 17px;
	color: #4B4949;
	position: absolute;
	font-family: 'VK Sans Display Medium', sans-serif;
	top: 5em;
	right: 3%;
	border-radius: 12px;
	transition-duration: 300ms;
	cursor: pointer;
}

.header_user:hover {
	transition-duration: 300ms;
	background-color: #F5F5F5;
}

.header_user span {
	width: auto;
	padding: 13px;
	border-radius: 12px;
	background-color: #F5F5F5;
	color: #EE6C90;
	font-weight: lighter;
}

/*.middle {*/
/*    display: flex;*/
/*    grid-auto-flow: column;*/
/*    justify-content: center;*/
/*    grid-gap: 7em;*/
/*    margin-top: 16em;*/
/*}*/

/*.middle_left {*/
/*    width: auto;*/
/*    height: 611px;*/
/*}*/

/*.middle_left h2 {*/
/*    font-size: 40px;*/
/*    font-weight: bold;*/
/*    width: 500px;*/
/*    margin-top: 4em;*/
/*    font-family: 'VK Sans Display Medium', sans-serif;*/
/*}*/

/*.middle_left p {*/
/*    font-size: 18px;*/
/*    width: 420px;*/
/*    color: #2D2A2A;*/
/*    margin-bottom: 1.6em;*/
/*    font-family: 'Google Sans', sans-serif;*/
/*}*/

/*.middle_left a {*/
/*    background-color: #EE6C90;*/
/*    color: white;*/
/*    padding: 10px 30px 13px 30px;*/
/*    border-radius: 8px;*/
/*    font-size: 18px;*/
/*    margin-left: -0.5%;*/
/*    transition-duration: 300ms;*/
/*    cursor: pointer;*/
/*}*/

/*.middle_left a:hover {*/
/*    transition-duration: 300ms;*/
/*    box-shadow: 0 0 10px rgba(238, 108, 144, 0.5);*/
/*}*/

.central_title {
	margin-top: 11em;
	width: 100%;
	text-align: center;
}

.central_title h1 {
	font-size: 40px;
	margin: 0;
	font-family: 'VK Sans Display Medium', sans-serif;
}

.central_title p {
	font-size: 18px;
	color: #2B2626;
	margin: 0.7% 0 0;
	font-family: 'Google Sans', sans-serif;
}

.ecosystem {
	width: 100%;
	height: auto;
	margin-top: 2em;
}

.ecosystem_support {
	background-color: #F5F5F5;
	border-radius: 8px;
	padding: 22px 25px 35px 25px;
	width: 240px;
	height: auto;
	margin: 2%;
	display: inline-block;
}

.ecosystem_support img {
	display: block;
	margin-top: 1.5em;
	margin-bottom: 2em;
	transform: scale(1.2);
}

.ecosystem_support a {
	display: block;
	background-color: #EE6C90;
	color: white;
	padding: 10px 30px 13px 30px;
	border-radius: 8px;
	font-size: 18px;
	width: auto;
	font-weight: lighter;
	transition-duration: 300ms;
	cursor: pointer;
}

.ecosystem_support a:hover {
	transition-duration: 300ms;
	box-shadow: 0 0 10px rgba(238, 108, 144, 0.5);
}

.ecosystem_support_tab {
	display: block;
	margin-bottom: 3.5em;
}

.align_sphere {
	margin: 0;
	float: right;
	display: flex;
	grid-auto-flow: column;
	justify-content: center;
	width: 70px;
}

.ecosystem_support_tab h3 {
	margin: 0;
	float: left;
	font-family: 'VK Sans Display Medium', sans-serif;
}

.sphere {
	width: 20px;
	height: 20px;
	background-color: #EF87A4;
	border-radius: 50px;
	margin: 0 0 0 12%;
}

.shop {
	width: 100%;
	height: auto;
	margin-top: 2em;
}

.shop_product {
	width: 400px;
	height: auto;
	padding: 20px 20px 20px 20px;
	border-radius: 8px;
	background-color: #F5F5F5;
	display: inline-block;
	margin: 2%;
}

.shop_product p {
	color: #484444;
	font-size: 17px;
	text-align: left;
	font-family: 'Google Sans', sans-serif;
}

.shop_product button {
	outline: none;
	border: none;
	display: block;
	background-color: #EE6C90;
	color: white;
	padding: 10px 30px 13px 30px;
	border-radius: 8px;
	font-size: 18px;
	width: auto;
	margin-top: 2em;
	transition-duration: 300ms;
	cursor: pointer;
	font-family: 'Google Sans', sans-serif;
}

.shop_product button:hover {
	transition-duration: 300ms;
	box-shadow: 0 0 10px rgba(238, 108, 144, 0.5);
}

.access {
	font-family: 'VK Sans Display Medium', sans-serif;
	font-size: 17px;
	margin-top: 4em;
}

@media (max-width: 950px) {
	.middle {
		margin-top: 7em;
		display: grid;
		grid-auto-flow: row;
		grid-gap: 1em;
	}

	.middle_left {
		height: 500px;
	}
}

@media (max-width: 1060px) {
	.middle {
		grid-gap: 1em;
	}
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: rgba(9, 120, 216, 0.1);
}

::-webkit-scrollbar-thumb {
	background-color: #EE6C90;
}
